    {{> header}}
    <div class="container">
      <div class="m-8">
        <h1>{{screamIt pageTitle}}</h1>
        <p>This is a new page which I added.</p>
        <p>{{welcomeMessage}}</p>
      </div>
    </div>

    {{> footer}}
